/*-- scss:defaults --*/

/*-- scss:rules --*/
// Paragraphs
p {
  text-align: justify;
}

p:not(:first-of-type) {
  text-indent: 1em;
}

// Small caps
.smallcaps {
  font-variant: small-caps;
}

// Flushright
.flushright p {
  text-align: right;
}